{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="{{static_url('starter-template.css')}}" crossorigin="anonymous">

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">pingo-robot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">会话</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/billpage">剧本</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/configpage">配置</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logpage">日志</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api">API</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a class="btn btn-outline-success my-2 my-sm-0" href="https://baidu.com" target="_blank">文档</a>
    </div>
  </div>
</nav>

<div class="container bill">
  <div class="alert alert-info" role="alert">
    <i class="fas fa-bell"></i> 演讲剧本，按照一定的规则和顺序讲解系统功能,并可切换系统页面。
  </div>
  <div class="bill-form">
    <center>
      <form class="form-row" action="#">
  	  <label for="bills-select" class="col-sm-2 col-form-label col-form-label-lg">剧本列表：</label>
      <div class="col-3" id="bills-placeholder">
        <select class="form-control" id="bills-select" name="bills-select">
         {% for item in bills %} 
            {% if (item["ISDEFAULT"]==1) %}
              <option  selected="selected" value={{ item["ID"] }}>{{ item["NAME"] }}</option> 
            {% else %}
              <option  value={{ item["ID"] }}>{{ item["NAME"] }}</option>  
            {% end %}
          {% end %}
        </select>
      </div>
 	    &nbsp;
    	<button type="button" class="btn btn-primary mb-2" id="PLAY"><i class="fas fa-play"></i> 播放</button>&nbsp;
    	<button type="button" class="btn btn-primary mb-2" id="PAUSE"><i class="fas fa-pause"></i> 暂停</button>&nbsp;
    	<button type="button" class="btn btn-primary mb-2" id="UNPAUSE"><i class="fas fa-play-pause"></i> 继续</button>&nbsp;
    	<button type="button" class="btn btn-danger mb-2" id="STOP"><i class="fas fa-stop"></i> 停止</button>
      </form>
    </center>
  </div><!-- <div class="bill-form"> -->
  <table id="billItemsTable"></table>
</div>

<ul id="recorder" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
      <li class="mfb-component__wrap">
        <a href="#" id="record" class="mfb-component__button--main">
          <i class="mfb-component__main-icon--resting fa fa-microphone"></i>
          <i class="mfb-component__main-icon--active fa fa-times"></i>
        </a>
        <ul class="mfb-component__list">
          <li>
            <a href="#" id="stop-record" data-mfb-label="停止录制语音指令" class="mfb-component__button--child">
              <i class="mfb-component__child-icon fas fa-stop"></i>
            </a>
          </li>
          <li>
            <a href="#" id="start-record" data-mfb-label="开始录制语音指令" class="mfb-component__button--child ">
              <i class="mfb-component__child-icon fas fa-circle"></i>
            </a>
          </li>
        </ul>
      </li>
</ul>

<script src="{{static_url('main.js')}}" crossorigin="anonymous"></script>
<script src="{{static_url('bill.js')}}" crossorigin="anonymous"></script>
<script src="{{static_url('bootbox.js')}}" crossorigin="anonymous"></script>
<script src="./static/recorder.min.js"></script>
{% end %}
