{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="{{static_url('starter-template.css')}}" crossorigin="anonymous">

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">
    <img src="./static/favicon.ico" width="32" height="32" alt="">
    Pingo-robot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">会话</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/billpage">演讲</a>
      </li>
      <li class="nav-item "> 
        <a class="nav-link" href="/configpage">配置</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logpage">日志</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/menupage">节目</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api">API</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a class="btn btn-outline-success my-2 my-sm-0" href="https://github.com/zwssunny/pingo" target="_blank">帮助</a>
    </div>
  </div>
</nav>

<div class="container bill">
  <div class="alert alert-info" role="alert">
    <i class="fas fa-bell"></i> 演讲方案，按照一定的规则和顺序讲解系统功能,并可切换系统页面。
  </div>
  <div class="bill-form">
    <!-- <center> -->
      <form class="form-row" action="#">
  	  <label for="bills-select" class="col-form-label-lg">演讲方案:</label>
      <div class="col-3" id="bills-placeholder">
        <select class="form-control" id="bills-select" name="bills-select">
         {% for item in bills %} 
            {% if (item["ISDEFAULT"]==1) %}
              <option  selected="selected" value={{ item["ID"] }}>{{ item["NAME"] }}</option> 
            {% else %}
              <option  value={{ item["ID"] }}>{{ item["NAME"] }}</option>  
            {% end %}
          {% end %}
        </select>
      </div>
 	    &nbsp;
    	<button type="button" class="btn btn-success mb-2" id="PLAY" title='演讲整个方案'><i class="fas fa-play"></i> 播放</button>&nbsp;
    	<button type="button" class="btn btn-warning mb-2" id="PAUSE" title='暂停当前播放节点，可恢复'><i class="fas fa-pause"></i> 暂停</button>&nbsp;
    	<button type="button" class="btn btn-info mb-2" id="UNPAUSE"><i class="fas fa-forward"></i> 继续</button>&nbsp;
    	<button type="button" class="btn btn-danger mb-2" data-toggle="modal" title='停止演示内容，不可恢复' data-target="#stopModal" id="showstopModal"><i class="fas fa-stop"></i> 停止</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-primary mb-2" id="btBillEdit" title='编辑当前方案，如声调，开场白'><i class="fas fa-edit"></i> 修改</button>&nbsp;
      <button type="button" class="btn btn-info mb-2" data-toggle="modal" data-target="#cloneModal" id="btBillCopy" title='克隆当前演讲方案为新方案'><i class="fas fa-copy"></i> 克隆</button>&nbsp;
      <button type="button" class="btn btn-secondary mb-2" data-toggle="modal" data-target="#newBillModal" id="btNewBill" title='从系统模板新增方案'><i class="fas fa-plus"></i> 新增</button>&nbsp;
      </form>
    <!-- </center> -->
  </div><!-- <div class="bill-form"> -->
    <div id="toolbar" class="btn-group">
      <!-- <button id="btn_add" type="button" class="btn btn-info mb-2">
          <span class="fas fa-plus" aria-hidden="true"></span>新增节点
      </button> -->
    </div>
  <table id="billItemsTable"  data-toolbar="#toolbar"></table>
</div>
<!--添加的编辑节点框-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-max" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">编辑节点</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form id="form_edit">
                  <div class="form-group">
                    <label class="control-label">页面名称：</label>
                    <input type="text" class="form-control"  name="itemname" id="itemname" disabled>
                  </div>
                  <div class="form-group">
                    <label class="control-label">演示顺序：</label>
                    <input type="number" class="form-control"  name="itemorderno" id="itemorderno" >
                </div>
                  <div class="form-group">
                      <label class="control-label">等待时间(秒)：</label>
                      <input type="number" class="form-control"  name="itemsleep" id="itemsleep" >
                  </div>
                   <div class="form-group">
                      <label class="control-label">演讲词：</label>
                      <textarea rows="20" class="form-control" name="itemdesc" id="itemdesc" placer='1' aria-label="With textarea"></textarea>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary"  id="but_submit_add">确认修改</button>
          </div>
      </div>
  </div>
</div>
<!-- 删除节点 -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">你确定吗？</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        确定要删除该节点吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="DELETE" data-dismiss="modal">删除</button>
      </div>
    </div>
  </div>
</div>
<!--编辑方案框-->
<div class="modal fade" id="editBillModal" tabindex="-1" role="dialog" aria-labelledby="editBillModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-max" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editBillModalLabel">编辑演讲方案</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form id="form_billedit">
                  <div class="form-group">
                    <label class="control-label">方案名称：</label>
                    <input type="text" class="form-control"  name="billname" id="billname">
                  </div>
                  <!-- <div class="form-row">
                      <label class="control-label">声音：</label>
                      <select class="form-control" id="billvoice" name="billvoice">
                        <option selected="selected" value="zh-CN-XiaoxiaoNeural">Xiaoxiao(女声)</option> 
                        <option  value="zh-CN-XiaoyiNeural">Xiaoyi(女声)</option> 
                        <option  value="zh-CN-YunjianNeural">Yunjian(男声)</option> 
                        <option  value="zh-CN-YunxiNeural">Yunxi(男声)</option> 
                        <option  value="zh-CN-YunxiaNeural">Yunxia(男声)</option> 
                        <option  value="zh-CN-YunyangNeural">Yunyang(男声)</option>
                        <option  value="zh-CN-liaoning-XiaobeiNeural">liaoning-Xiaobei(女声)</option> 
                        <option  value="zh-CN-shaanxi-XiaoniNeural">shaanxi-Xiaoni(女声)</option> 
                        <option  value="zh-HK-HiuGaaiNeural">HK-HiuGaai(女声)</option> 
                        <option  value="zh-HK-HiuMaanNeural">HK-HiuMaan(女声)</option> 
                        <option  value="zh-HK-WanLungNeural">HK-WanLung(男声)</option> 
                        <option  value="zh-TW-HsiaoChenNeural">TW-HsiaoChen(女声)</option>
                        <option  value="zh-TW-HsiaoYuNeural">TW-HsiaoYu(女声)</option>  
                        <option  value="zh-TW-YunJheNeural">TW-YunJhe(男声)</option> 
                      </select>
                      &nbsp;
                      <button type="button" class="btn btn-info mb-2" id="TESTVOICE"><i class="fas fa-play"></i>测试声音</button>&nbsp;
                  </div> -->
                  <div class="form-group">
                    <label class="control-label">系统默认方案：</label>
                    <select class="form-control" id="billisdefault" name="billisdefault">
                      <option selected="selected" value="1">是</option> 
                      <option  value="0">否</option> 
                    </select>
                  </div>
                   <div class="form-group">
                      <label class="control-label">开场白：</label>
                      <textarea rows="20" class="form-control" name="billdesc" id="billdesc" placer='1' aria-label="With textarea"></textarea>
                  </div>
                  <div class="form-group">
                      <label class="control-label">创建时间：</label>
                      <input type="datetime" class="form-control"  name="billdatetime" id="billdatetime" readonly >
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary"  id="bill_submit_add">确认修改</button>
          </div>
      </div>
  </div>
</div>
<!-- 克隆方案 -->
<div class="modal fade" id="cloneModal" tabindex="-1" role="dialog" aria-labelledby="cloneModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cloneModalLabel">你确定吗？</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        确定要克隆当前演讲方案吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="CLONE" data-dismiss="modal">克隆</button>
      </div>
    </div>
  </div>
</div>
<!-- 新增演讲方案 -->
<div class="modal fade" id="newBillModal" tabindex="-1" role="dialog" aria-labelledby="newBillModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newBillModalLabel">你确定吗？</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        确定要从系统模板中新增演讲方案吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="NEWBILL" data-dismiss="modal">新增</button>
      </div>
    </div>
  </div>
</div>
<!-- 停止演讲 -->
<div class="modal fade" id="stopModal" tabindex="-1" role="dialog" aria-labelledby="stopModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stopModalLabel">你确定吗？</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        确定要停止当前演讲吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="STOP" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>
<!-- 录音 -->
<ul id="recorder" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
      <li class="mfb-component__wrap">
        <a href="#" id="record" class="mfb-component__button--main">
          <i class="mfb-component__main-icon--resting fa fa-microphone"></i>
          <i class="mfb-component__main-icon--active fa fa-times"></i>
        </a>
        <ul class="mfb-component__list">
          <li>
            <a href="#" id="stop-record" data-mfb-label="停止录制语音指令" class="mfb-component__button--child">
              <i class="mfb-component__child-icon fas fa-stop"></i>
            </a>
          </li>
          <li>
            <a href="#" id="start-record" data-mfb-label="开始录制语音指令" class="mfb-component__button--child ">
              <i class="mfb-component__child-icon fas fa-circle"></i>
            </a>
          </li>
        </ul>
      </li>
</ul>

<script src="{{static_url('main.js')}}" crossorigin="anonymous"></script>
<script src="{{static_url('bill.js')}}" crossorigin="anonymous"></script>
<script src="{{static_url('bootbox.js')}}" crossorigin="anonymous"></script>
<script src="./static/recorder.min.js"></script>
<!-- <script src="./static/bootstrap-datetimepicker.js"></script> -->
<script src="./static/datetimeformate.js"></script>
{% end %}
