{
  "service_id": "s...",
  "api_key": "",
  "secret_key": "",
  "pageintent": ["OPEN_PAGE","CLOSE_PAGE"],
  "systemintent": ["OPEN_SYSTEM","CLOSE_SYSTEM"],
  "highlightintent": ["OPEN_HIGHLIGHT","CLOSE_HIGHLIGHT"]
}
